pillow
pyperclip
requests
twilio
python-dotenv
beautifulsoup4
lxml
spotipy
selenium
webdriver-manager
flask
bootstrap-flask
flask-wtf
wtforms
email-validator
flask-sqlalchemy
blinker
click
colorama
greenlet
itsdangerous
Jinja2
MarkupSafe
SQLAlchemy
typing_extensions
Werkzeug
Flask_CKEditor
Flask_Login
pandas
numpy
matplotlib
seaborn
scikit-learn
statsmodels

